
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

body{
  color: orange;
  // background-color: yellow;
}

header{
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
}

.nav{
  display: flex;
  align-items: center;
  ul{
    list-style: none;
  }
}

.container1{
  background-color: green;
}

.container2{
  background-color: orange;
}
